.course-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 14px;
  font-size: 14px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
  }

  &__title {
    margin: 30px 0 0 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 22px;
    color: black;
  }

  &__edit-button {
    padding: 0;
  }
}

@media screen and (min-width: 400px) {
  .course-content {
    padding: 0 6.5%;
  }
}

@media screen and (min-width: 1280px) {
  .course-content {
    padding: 0 70px;
  }
}
