.profile {
  min-height: calc(100vh - 74px - 102px);
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: black;
  }

  &__input-error {
    font-size: 11px;
    line-height: 13px;
    color: #ee3465;
    min-height: 33px;
    display: block;
    margin-top: 5px;
  }

  &__button {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin-top: 15px;

    background-color: #f5f4fb;
    color: #5533ff;
    border: none;
    transition: all 0.4s ease-out;
    text-align: center;
    font-size: 13px;

    &:hover {
      cursor: pointer;
      background-color: #4a61dd;;
      color: white;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
  }
}

.profile-form {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    margin: 17px 0 0 0;

    padding-bottom: 16px;
    border-bottom: 1px solid #424242;

    &_first {
      margin-top: 0;
    }
  }

  &__input {
    background-color: inherit;
    padding-right: 5px;
    padding-left: 5px;
    border: none;
    width: 70%;
    height: 20px;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: right;

    color: black;
    transition: background-color ease 0.5s;

    &:focus {
      background-color: #2f2f2f;
    }
  }
}


.profile__button
.profile__button_update {
  color: black;
  margin-bottom: 16px;
}

.profile__button_invalid {
  color: #c2c2c2;
}

.profile__button_invalid:hover {
  opacity: 1;
}

.profile__button_get-out {
  color: #ee3465;
}

@media screen and (min-width: 768px) {
  .profile {
    padding: 0 179px;

    &__buttons {
      flex-direction: row;
    }
  }

  .profile-form {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    padding: 0 435px;
  }
}
