.promo {
  min-height: 630px;
  background-color: #bcc0e2;
  display: flex;
  align-items: center;
  position: relative;

  &__title {
    padding: 0 10px;
    margin: 0;
    font-weight: normal;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
  }

  &__picture {
    width: 680px;
    position: absolute;
    top: 379px;
    right: 6px;
  }
}

@media screen and (min-width: 450px) {
  .promo__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .promo {
    min-height: 844px;

    &__picture {
      width: 650px;
      top: 578px;
      right: 9px;
    }

    &__title {
      padding: 0 44px;
      font-size: 40px;
      line-height: 52px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .promo {
    min-height: 650px;

    &__picture {
      width: 650px;
      top: 415px;
      right: 9px;
    }

    &__title {
      max-width: 626px;
      text-align: left;
      padding: 80px 0 0 80px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    min-height: 560px;

    &__picture {
      width: 722px;
      top: 285px;
      right: 9px;
    }

    &__title {
      padding: 0 0 0 70px;
    }
  }
}
