.accordion-item {
  margin-bottom: 10px;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;

    &_clicked {
      background-color: #4a3aff;
    }
  }

  &__button-icon path {
    stroke: white;
  }
}

.button {
  color: black;
  text-align: left;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 15px 15px;
  cursor: pointer;
  border: none;
  background-color: white;

  border-radius: 14px;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);

  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  transition: all ease-out 0.3s;

  &_clicked {
    outline: 2px solid #4a3aff;
    box-shadow: 0px 6px 16px rgba(74, 58, 255, 0.19);
  }

  &:hover {
    cursor: pointer;
  }
}

.control {
  font-size: 20px;
}

.answer {
  background-color: unset;
  padding: 20px 20px 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #6f6c90;

  &_wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.2s;
  }
}
