.logo-link {
  height: 38px;
  width: 38px;

  &:hover {
    cursor: pointer;
  }
  &__image {
    width: 38px;
    height: 38px;
    transition: transform ease 1s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}
