.courses {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  &__title-wrapper {
    display: flex;
    column-gap: 10px;
    width: fit-content;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 22px;
    color: black;
  }

  &__title-icon {
    height: 18px;
    width: 18px;
    align-self: center;
  }

  &__add-button {
    border: none;
    background-color: unset;

    &:hover {
      cursor: pointer;
    }
  }

  &__main-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 10px 0 10px;
  }

  &__wrapper {
    display: grid;
    flex-direction: column;
    align-items: center;
    min-height: 400px;

    &_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      gap: 30px;
    }
  }
}

@media screen and (min-width: 400px) {
  .courses__main-wrapper {
    margin: 30px 6.5% 0 6.5%;
  }
}

@media screen and (max-width: 654px) {
  .courses__wrapper_grid {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
  }
}

@media screen and (min-width: 768px) {
  .courses__main-wrapper {
    margin: 30px 30px 0 30px;
  }

  .courses__wrapper_grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 769px) {
  .courses__main-wrapper {
    margin: 45px 6.5% 0 6.5%;
  }
}

@media screen and (min-width: 1000px) {
  .courses__wrapper_grid {
    grid-template-columns: repeat(3, 300px);
  }
}
