.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: visibility 0.5s, opacity 0.5s ease;

  &_invisible {
    visibility: hidden;
    opacity: 0;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  max-width: 650px;
  display: flex;
  z-index: 2;
  flex-direction: column;
  transition: right ease 0.5s;

  &_invisible {
    right: -100%;
  }

  &__wrapper {
    height: 144px;
  }

  &__button {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 30px;
    height: 30px;
    border: none;
    opacity: 0;
    padding: 0;

    :hover {
      cursor: pointer;
    }
  }

  &__button-image {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 650px) {
  .sidebar {
    width: 520px;
  }

  .sidebar__button,
  .sidebar__button-image {
    top: 27px;
    right: 27px;
  }
}
