.techs {
    min-height: 651px;
    background-color: #F5F6FE;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.04em;
        color: black;
        margin: 0 18px 24px 18px;
    }
    &__text {
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.04em;
        color: black;
        margin: 0 18px 50px 18px;
    }
}

.tech {
    &__links {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(2, 84px);
        gap: 10px;
        max-width: 178px;
        margin: 0 auto 70px auto;
        padding: 0;
    }
    &__link-item {
        width: 84px;
        height: 57px;
        border-radius: 10px;
        background-color: #4A61DD;
        display: flex;
        justify-content: center;
        transition: background-color ease 0.5s;
        color: white;

        &:hover {
            background-color: #2845DF;
            cursor: pointer;
        }
    }
    &__link {
        text-decoration: none;
        color: #ffffff;
        font-weight: normal;
        font-size: 12px;
        line-height: 57px;
        text-align: center;
        letter-spacing: -0.04em;
    }
}

@media screen and (min-width: 400px) {
    .techs {
        &__title {
           margin: 0 6.5% 24px 6.5%;
        }
        &__text {
            margin: 0 6.5% 50px 6.5%;
        }
    }
}

@media screen and (min-width: 768px) {
    .techs {
        min-height: 567px;

        &__title {
            font-size: 50px;
            line-height: 58px;
            margin: 0 50px 22px 50px;
        }
        &__text {
            font-size: 12px;
            line-height: 18px;
            margin: 0 50px 83px 50px;
            width: 60%;
        }
    }

    .tech__links {
        grid-template-columns: repeat(7, 84px);
        max-width: 648px;
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1000px) {
    .techs {
        &__title {
            margin: 0 80px 22px 80px;
        }
        &__text {
            margin: 0 80px 83px 80px;
        }
    }
}

@media screen and (min-width: 1280px) {
    .techs {
        min-height: 625px;

        &__title {
            margin: 0 70px 26px 70px;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            margin: 0 70px 100px 70px;
            max-width: 460px;
        }
    }

    .tech__links {
        grid-template-columns: repeat(7, 90px);
        max-width: 690px;
        margin-bottom: 100px;
    }
}
